<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758645548438-jocbistpil3acjfqf5r0rcpfp6ee900a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758645548438-jocbistpil3acjfqf5r0rcpfp6ee900a</string>
	<key>API_KEY</key>
	<string>AIzaSyDmCXWhsfkh7zej_PN7So3OhS98kvi7Ffs</string>
	<key>GCM_SENDER_ID</key>
	<string>758645548438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Orbital2021-Alina-Varun.stockUP</string>
	<key>PROJECT_ID</key>
	<string>stockup-ccadb</string>
	<key>STORAGE_BUCKET</key>
	<string>stockup-ccadb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758645548438:ios:0f2984f12aab9913dee9b7</string>
</dict>
</plist>